<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketai.activity.front.mapper.FrontActivityMapper">
    <select id="selCarryOutSchool" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM
        (SELECT sch_id FROM yx_activity where 1=1
        <if test="year != null">
            AND YEAR(create_time) in (#{year})
        </if>
        GROUP BY sch_id)
        yx_activity
    </select>

    <select id="selNumberOfTeaAndStu" parameterType="String" resultType="int">
        select sum(led_teacher_number)+sum(student_number) from yx_activity where YEAR(create_time) in (#{year})
    </select>
</mapper>
