<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketai.activity.mapper.YxEvaluateInfoMapper">

    <select id="findEvaluatePage" resultType="com.ketai.model.domain.families.response.EvaluateInfoVo">
        SELECT AVG(score) AS score,COUNT(base_id) AS cnt,AVG(undertake_service_score) AS undertakeServiceScore ,AVG(base_manage_score) AS baseManageScore, AVG(course_score) AS courseScore, AVG(safety_score) AS safetyScore,AVG(service_score) AS serviceScore,e.base_id,b.base_name
        FROM yx_evaluate_info e
        LEFT JOIN yx_base_info AS  b  ON e.base_id=b.id
        <where>${ew.sqlSegment}</where>
        GROUP BY e.base_idy5r
    </select>

    <select id="getAllScore" resultType="com.ketai.model.domain.YxEvaluateInfo" parameterType="Integer">
    SELECT SUM(`safety_score`) as safety_score,SUM(`base_manage_score`) as base_manage_score,
    SUM(`undertake_service_score`) as undertake_service_score,
    SUM(`course_score`)as  course_score,SUM(`service_score`) as service_score,SUM(`score`) as score
    FROM yx_evaluate_info
    <where>
        <if test="isOK!=0">
            base_id =#{id}
        </if>
        <if test="isOK==0">
            undertake_org_id=#{id}
        </if>
    </where>
    </select>

    <select id="qryEvaluateInfoPage" resultType="com.ketai.model.domain.families.response.EvaluateInfoVo">
        SELECT
            e.*,
            a.activity_name,
            b.base_name
        FROM
          yx_evaluate_info e
        LEFT JOIN yx_base_info b ON e.base_id = b.id
        LEFT JOIN yx_activity a ON a.id = e.activity_id
        <where>${ew.sqlSegment}</where>
    </select>

    <select id="selectBaseEvaluateGroupCnt" resultType="com.ketai.model.domain.families.response.EvaluateInfoNumVo">
        SELECT FLOOR(score) score,COUNT(score) as scores FROM yx_evaluate_info GROUP BY FLOOR(score)
    </select>

</mapper>
